Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-use-nullptr

WarningsAsErrors: >
  bugprone-*,
  clang-analyzer-*

CheckOptions:
  - { key: modernize-use-nullptr.NullMacros, value: 'NULL' }